
docker/nginx/.htpasswd
docker/.env

kubernetes/**/secret.env

# Terraform state
*.tfstate
*.tfstate.*

# Terraform working directory
.terraform/

# Terraform crash logs
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform CLI config
.terraformrc
terraform.rc